:root{
    --canvas-size: 740px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-dimensions{
    outline: none;
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    margin-bottom: 30px;
    cursor: pointer;

    transition: 0.1s;
}

.btn-dimensions:hover{
    transform: translate(-3px, -3px);
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
    width: var(--canvas-size);
    height: var(--canvas-size);
}

.square{
    border: solid 1px black;
    background-color: white;
}
