*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100vh;
}

section{
    margin: auto;
}

.game-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.match-choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.match-info{
    text-align: center;
}

.move{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: solid 5px rgb(238, 238, 238);
    margin-top: 5px;

}

.move img{
    opacity: 0;

    width: 50px;
    height: auto;

    transition: .7s ease-in-out;
}

.game-result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 80px;
}

.match-result{
    text-align: center;

    width: 100%;
    padding: 10px;

    background-color: rgb(238, 238, 238);
}

.score-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 15px;
}

.player-choices{
    display: flex;
    gap: 10px;
}

.player-choice{
    outline: none;
    border: solid 2px gray;

    width: 120px;
    padding: 20px 20px;
    cursor: pointer;
}

.player-choice img{
    width: 30px;
    height: auto;

    pointer-events: none;

    transition: 0.5s;
}

.player-choice:hover img{
    transform: scale(1.15);
}

.final-result-modal{
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    z-index: 2;

    padding: 20px;
    width: 100%;
    pointer-events: none;

    transition: 0.5s;
}

.final-result-modal.active{
    opacity: 1;
    pointer-events: all;
}

.game-winner{
    text-align: center;
    background-color: rgb(238, 238, 238, .45);
    width: 100%;
    padding: 20px 40px;
}

#restart-btn{
    outline: none;

    width: 160px;
    padding: 20px 20px;
    cursor: pointer;
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    pointer-events: none;

    transition: .5s;
}

.overlay.active{
    opacity: 1;
    pointer-events: all;
}

